.work {
  &__card-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  &__card {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 32px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  &__card-actions {
    display: flex;
    justify-content: space-between;
    a {
      height: 3rem;
      width: 6rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      svg {
        width: 30px;
        height: 30px;
        fill: var(--black);
      }
    }
  }
  &__card-title {
    color: var(--primary-font-color);
    font-size: var(--small-header-font-size);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__card-description {
    color: var(--secondary-font-color);
  }
}