.work {
  &__page {
    section h2 {
      padding-top: 2rem;
    }
  }
  &__card-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  &__card {
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 32px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  &__card-actions {
    display: flex;
    justify-content: space-between;
    button {
      flex-grow: 2;
      box-sizing: border-box;
      // padding: .4rem .5rem;
      width: 7rem;
      height: 3rem;
      border-radius: 4px;
      border: 2px solid transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      transition: all .2s ease-in-out;
      box-sizing: border-box;
      background: transparent;
      div {
        text-decoration: underline;
      }
      &:hover {
        border: 2px solid var(--secondary-color);
      }
      svg {
        width: 30px;
        height: 30px;
        fill: var(--black);
      }
    }
  }
  &__card-title {
    color: var(--primary-font-color);
    font-size: var(--small-header-font-size);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__card-description {
    color: var(--secondary-font-color);
  }
}