<div class="home__page">
  <mat-grid-list [gutterSize]="'1rem'" [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let tile of tiles" [rowspan]="(breakpoint === 1) ? 1 : tile.rowspan || 1" [colspan]="(breakpoint === 1) ? 1 : (tile.colspan || 1)" [ngSwitch]="tile.component">
      <app-welcome-tile #tooltip="matTooltip" *ngSwitchCase="'welcome'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-welcome-tile>
      <app-eye-tile #tooltip="matTooltip" *ngSwitchCase="'eye'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-eye-tile>
      <app-now-tile #tooltip="matTooltip" *ngSwitchCase="'now'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-now-tile>
      <app-contact-tile #tooltip="matTooltip" *ngSwitchCase="'contact'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-contact-tile>
      <app-work-tile #tooltip="matTooltip" *ngSwitchCase="'work'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-work-tile>
      <app-linkedin-tile #tooltip="matTooltip" *ngSwitchCase="'linkedin'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-linkedin-tile>
      <app-github-tile #tooltip="matTooltip" *ngSwitchCase="'github'" matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-github-tile>
      <app-project-tile #tooltip="matTooltip" [props]="tile" *ngSwitchDefault matTooltip="React component embedded in Angular application" aria-label="Tile that displays information"></app-project-tile>
      <div class="home__tile-placeholder"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
