.nav {
  &__bar {
    a {
      font-size: var(--small-header-font-size);
      color: var(--white);
    }
    background-color: var(--primary-color);
  }
}
.subnav {
  &__bar {
    a {
      font-size: var(--large-font-size);
      color: var(--black);
    }
    background-color: var(--white);
  }
}
.nav, .subnav {
  &__bar  a {
    cursor: pointer;
    text-decoration: none;
    &:hover, &.active {
      color: #f55951;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 980px;
    margin: 0 auto;
    padding: .5rem 2rem;
  }
  &__item-list {
    display:flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
  }
  &__item {
    float: right;
    list-style-type: none;
  }
}
