.nav {
  &__bar {
    a {
      font-size: var(--small-header-font-size);
      color: var(--white);
    }
    background-color: var(--primary-color);
  }
  &__item-highlight {
    width: 85px;
    height: 50px;
    position: absolute;
    left: -8px;
    top: -9px;
    transform: translate(-48%,7px) translateZ(0);
    fill: none;
    stroke: var(--stroke,var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset,69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke .25s ease var(--stroke-delay,0s),stroke-dasharray .35s;
    transform: scale(1.2);
  }

  &__item-link.highlightable.active {
    --stroke: #fc205e;
    --stroke-delay: 0.1s;
    --offset: 190px;
    position: relative;
  }
}
.subnav {
  &__bar {
    a {
      font-size: var(--large-font-size);
      color: var(--black);
    }
    background-color: var(--white);
  }
}
.nav, .subnav {
  &__bar a {
    cursor: pointer;
  }
  &__bar  a:not(.highlightable) {
    text-decoration: none;
    &:hover, &.active {
      color: #f55951;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 980px;
    margin: 0 auto;
    padding: .5rem 2rem;
  }
  &__item-list {
    display:flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
  }
  &__item {
    float: right;
    list-style-type: none;
  }
}