:host {
  height: 100%;
  width: 100%;
}
.eye {
  &__container {
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: #f55951;
    box-sizing: border-box;
  }
  &__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .15s ease-in;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  &__eye-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__eyelid {
    text-align: center;
    display: flex;
    background-color: #fff;
    border-radius: 50% 50% 49% 51%/67% 68% 32% 33%;
    box-shadow: inset -8.5px -5px 6.25px rgba(0,0,0,.144);
    -webkit-animation-name: eye_blink;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50%;
    animation-play-state: running;
  }
  &__eyes {
    text-align: center;
    display: flex;
    width: 8.5rem;
    height: 8.5rem;
  }
  &__eye {
    position: relative;
    display: inline-block;
    width: 55%;
    height: 55%;
    background-color: #08090a;
    border-radius: 50%;
    z-index: 8976;
    margin: 25px auto auto 10px;
    -webkit-animation-name: eye_eyeball;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50%;
    animation-play-state: running;
    &:after {
      position: absolute;
      top: -0.2rem;
      left: .6rem;
      width: 1.5rem;
      height: 1.5rem;
      background: #fff;
      border-radius: 50%;
      content: " ";
    }
  }
}

@keyframes eye_blink {
  0% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  10% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  10.5% {
      -webkit-transform: scaleX(1.3) scaleY(.1)
  }

  11% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  40% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  40.5% {
      -webkit-transform: scaleX(1.3) scaleY(.1)
  }

  41% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  70% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  70.5% {
      -webkit-transform: scaleX(1.3) scaleY(.1)
  }

  71% {
      -webkit-transform: scaleX(1) scaleY(1)
  }

  to {
      -webkit-transform: scaleX(1) scaleY(1)
  }
}

@keyframes eye_eyeball {
  0% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 20px;
      margin-top: 50px
  }

  10% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 20px;
      margin-top: 50px
  }

  10.5% {
      -webkit-transform: scaleX(1.3) scaleY(.1);
      margin-left: 20px;
      margin-top: 44px
  }

  11% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 20px;
      margin-top: 50px
  }

  40% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 20px;
      margin-top: 50px
  }

  40.5% {
      -webkit-transform: scaleX(1.3) scaleY(.1);
      margin-left: 48px;
      margin-top: 38px
  }

  41% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 48px;
      margin-top: 42px
  }

  70% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 48px;
      margin-top: 42px
  }

  70.5% {
      -webkit-transform: scaleX(1.3) scaleY(.1);
      margin-left: 20px;
      margin-top: 48px
  }

  71% {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 20px;
      margin-top: 50px
  }

  to {
      -webkit-transform: scaleX(1) scaleY(1);
      margin-left: 20px;
      margin-top: 50px
  }
}