/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #361d32;
  --secondary-color: #543c52;
  --tertiary-color: #f55951;

  --small-font-size: 0.5rem;
  --medium-font-size: 0.75rem;
  --large-font-size: 1rem;
  --xlarge-font-size: 1.25rem;

  --small-header-font-size: 1.5rem;
  --medium-header-font-size: 1.75rem;
  --large-header-font-size: 2rem;
  --xlarge-header-font-size: 3rem;

  --primary-font-color: #1e1e1e;
  --secondary-font-color: #8f959b;
  --tertiary-font-color: #f3cecc;

  --tile-border-radius: 33px;

  --white: #eeeeee;
  --black: #0a0a0a;
  --black-1: #08090a;
  --black-300: #636f7b;
  --black-2: #918f8f;
  --bg-1: #f8f4b8;
  --bg-1: #fdfacc;
  --ac-1: #e60343;
  --ac-1: #f93957;
  --ac-1: #fc205e;
  --ac-y1: #006802;
  --ac-2: #c8fa00;
  --bg-2: #05180b;
}

body {
  background-color: #f1e8e6;
  font-family: Inter,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  height: 100%;
  
  // fix bug where tile that is getting dragged expands height to 100% of the body
  > .mat-grid-tile {
    padding-top: inherit !important;
  }
}
html, body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
