:host {
  height: 100%;
  width: 100%;
}
.project-tile {
  &__container {
    font-family: Inter, 'sans-serif';
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: var(--tile-border-radius);
    box-sizing: border-box;
  }
  &__header {
    font-size: var(--large-font-size)
  }
  &__header-wrapper {
    margin: 1rem auto;
  }
  &__description {
    color: var(--secondary-font-color);
    font-size: var(--large-font-size);
    -webkit-font-smoothing: antialiased;
  }
  &__arrow {
    &:hover {
      background-color: var(--black);
      border: 2px solid var(--black);
      stroke: var(--white);
      transition: stroke 0.2s ease-in, background-color 0.2s ease-in, border 0.2s ease-in;
    }
    stroke: #181515;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}