<div class="now__page">
  <header class="now__header">
    <h2 class="now__main-header">What am I doing right now?</h2>
    <h3 class="now__sub-header">Last update: {{ lastUpdate | async }}</h3>
  </header>

  <div class="now__main">
    <section>
      <h3 class="now__section-header">Work</h3>
      <p>I was working as an Senior Engineer at <a rel="noopener" href="https://www.bounteous.com/" target="_blank">Bounteous</a> for the restaurant tech department, up until the end of June.</p>
    </section>
    <section>
      <h3 class="now__section-header">Projects</h3>
      <p>Currently, working on improving this portfolio site, and a <a rel="noopener" href="https://github.com/raymondcheung/mparticle-capacitor" target="_blank">Capacitor plugin for mParticle</a>.</p>
    </section>
  </div>
</div>
