.footer {
  &__container {
    box-sizing: border-box;
    padding: 0 2rem;
    max-width: 980px;
    background-color: var(--white);
    border-radius: var(--tile-border-radius);
    font-size: var(--large-font-size);
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    height: 6rem;
  }
}